@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Josefin Sans";
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-23 {
  margin-bottom: 23px;
}
.auth-logo {
  max-width: 182px;
  margin-top: -30px;
}
.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcff;
  min-height: 100vh;
  padding: 30px 60px;
}
.inner-auth-wrapper {
  max-width: 1550px;
  width: 100%;
  min-height: 90vh;
  border-radius: 42px;
  background: #fff;
  box-shadow: 0px 0px 17.1px 0px rgba(170, 170, 170, 0.25);
}
.auth-img {
  max-width: 340px;
  margin-top: -150px;
}
.auth-img-wrapper {
  border-radius: 0px 42px 42px 0px;
  background: #5864ff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/auth-pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.box-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 366px;
  width: 100%;
  height: 344px;
  border-radius: 65px;
  border: 1px solid #fff;
  opacity: 0.8;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  backdrop-filter: blur(37px);
  z-index: -1;
}
.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 23px;
  color: #5864ff;
}
.auth-content {
  padding: 18px 50px 40px;
}
.auth-heading {
  font-size: 30px;
  color: #000;
  font-weight: 700;
}
.auth-text {
  font-size: 16px;
  color: #595959;
  font-weight: 400;
}
.label-text {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 12px;
  display: block;
}
.highlight-req {
  color: #f00;
}
.inner-auth-wrapper .form-field {
  font-size: 18px;
  font-weight: 400;
  outline: none;
  color: #000;
  padding: 14px 29px;
  border-radius: 14px;
  border: none;
  background-color: #f7f7f7;
}
svg {
  vertical-align: 0;
}
.inner-auth-wrapper .form-field:focus {
  background-color: #f7f7f7;
}
.common-btn {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  min-width: 290px;
  border: none;
  outline: none;
  border-radius: 13px;
  background: #5864ff;
  border: 1px solid #5864ff;
  box-shadow: 0px 0px 8.7px 0px rgba(88, 100, 255, 0.53);
  transition: 0.4s ease;
}

.error-message {
  color: red;
  font-size: 14px;
}

.common-btn:hover {
  color: #5864ff;
  background-color: transparent;
}
.forgot-link {
  font-size: 20px;
  color: #000;
}
.min-h-90vh {
  min-height: 90vh;
}
.custom-toast-container {
  z-index: 9999 ;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  padding-top: 33px;
  border-radius: 0px 16px 16px 0px;
  background: #f4f7ff;
  transition: .4s ease;
}
.sidebar .sidebar-logo {
  max-width: 280px;
}
.sidebar-listing li {
  padding: 0 15px;
}
.sidebar-link {
  display: block;
  width: 100%;
  padding: 19px 27px;
  color: #5864ff;
  font-size: 23px;
  display: flex;
  gap: 23px;
  align-items: center;
  font-weight: 400;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: 0.4s ease;
  white-space: nowrap;
}
.sidebar-link:hover {
  background-color: #5864ff;
  color: #fff;
}
.active {
  background-color: #5864ff;
  color: #fff;
}
.nav-header {
  padding: 18px 30px;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  border-bottom: 1px solid #e3e3e3;
  background: white;
  z-index: 999;
  transition: .3s;
}
.logout-btn {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0px 0px 16px 0px;
  background: #5864ff;
}
.userbx-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex: none;
  object-fit: cover;
}
.user-name {
  font-size: 25px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
}
.menu-btn {
  width: 49px;
  height: 46px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5864ff;
  color: #fff;
  font-size: 19px;
  border: 1px solid #5864ff;
  transition: 0.4s ease;
}
.menu-btn:hover {
  background-color: transparent;
  color: #5864ff;
}
.main-wrapper {
  width: calc(100% - 300px);
  margin-left: auto;
  transition: .3s;
}
.dashboard-wrapper {
  padding: 120px 40px 50px;
}
.welcome-text {
  font-size: 33px;
  color: #000;
  font-weight: 400;
}
.name-login {
  color: #5864ff;
  font-weight: 700;
}
.dashboard-card {
  padding: 32px 20px;
  border-radius: 30px;
  background: radial-gradient(253.08% 68% at 50% 50%, #5864ff 0%, #757ffe 100%);
  font-size: 33px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.total-dimensions {
  min-width: 76px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  font-size: 53px;
  color: #5864ff;
  font-weight: 600;
  margin: 0px auto 10px;
}
.dimensions-wrapper {
  padding: 86px 0 40px;
}
.page-name {
  padding: 40px 10px;
  text-align: center;
  font-size: 33px;
  color: #5864ff;
  background-color: #f1f2ff;
  margin-bottom: 30px;
}
.common-field {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 14px 29px;
  border-radius: 14px;
  border: none;
  display: block;
  width: 100%;
  background-color: #f7f7f7;
}
.common-field:focus {
  outline: none;
}
.create-dimension-card {
  border-radius: 26px;
  border: 1px solid #dadada;
  background: #fff;
  padding: 32px 40px;
}
.dimension-head {
  text-align: center;
  margin-bottom: 35px;
  font-size: 33px;
  color: #000;
  font-weight: 500;
}
.label-form {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

/* admin dashboard  */
.dashboard-card-total-user {
  padding: 32px 20px;
  border-radius: 30px;
  background: radial-gradient(
    53.15% 249.49% at 50% 50%,
    #5864ff 0%,
    #757ffe 100%
  );
  font-size: 33px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dashboard-card-active-user {
  padding: 32px 20px;
  border-radius: 30px;
  background: radial-gradient(
    53.15% 249.49% at 50% 50%,
    #10ba0c 0%,
    #1dcf00 100%
  );
  font-size: 33px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dashboard-card-desibled-user {
  padding: 32px 20px;
  border-radius: 30px;
  background: radial-gradient(
    53.15% 249.49% at 50% 50%,
    #dd1111 0%,
    #ff5858 100%
  );
  font-size: 33px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.view-all-btn {
  width: 152px;
  height: 54px;
  top: 501px;
  left: 1709px;
  border-radius: 13px;
}
.all-user {
  width: 169px;
  height: 33px;
  top: 512px;
  left: 517px;
}
.user-table {
  margin-top: 50px;
}

.user-table-content {
  border-radius: 20px;
  border: 1px solid #d3d3d3;
}
.user-table-content table {
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  background: linear-gradient(0deg, #d3d3d3, #d3d3d3),
    linear-gradient(0deg, #ffffff, #ffffff);
}
.user-table-header {
  text-align: -webkit-match-parent;
  background-color: #5864ff !important;
  padding: 15px !important;
  color: #fff !important;
}
.role-pill {
  font-size: 12px;
  background-color: #5864ff;
  border-radius: 30px;
  padding: 2px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
}
.role-pill.user
{
    background-color: #5864FF;
}
.role-pill.power-user
{   
    background-color: #D458FF;
}
.role-pill.admin
{
    background-color: #FF5858;
}
.action-image{
    width: 13px;
    height: 13px;
    padding: 2.17px, 0px, 2.17px, 0px
}
.action-span{
    width: 27px !important;
    height: 27px !important;
    border-radius: 6px;
    text-align: center;
}
.action-span:hover{
    cursor: pointer;
}
.eye{
    background-color: #5864FF;
}
.trash{
    background-color: #FF4949;
}
.dashboard-icon{
    width: 24px;
    height: 24px;
}
.user-search{
    width: 300px;
    height: 40px;
    right: 10px;
    border-radius: 12px;
    outline: none;
    background: #F7F7F7;
}
.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.pagination-message h3{
    width: 182px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;

}
.pagination-card{
    width: 42px;
    height: 42px;
    border-radius: 9px;
    border: 1px;
    border: 1px solid #5864FF;
    background: #5864FF;
    color: white;
    cursor: pointer;
}
.pagination-card-inactive{
    width: 42px;
    height: 42px;
    border-radius: 9px;
    border: 1px;
    border: 1px solid #5864FF;
    background: #fff;
    color: #5864FF;
    cursor: pointer;
}

.pagination-icon{
    width: 20px;
    height: 20px;
    top: 31px;
    left: 11px;
    padding: 6px, 4.01px, 7.5px, 4px;
}
.user-details-username{
  width: 100%;
  height: 100px;
  background: #F1F2FF;
}
.user-profile-card{
  width: 100%;
  min-height: 520px;
  max-height: 520px;
  border-radius: 40px;
  border: 1px;
  border: 1px solid #D3D3D3;
  padding: 32px;

}
.profile-section{
  margin-top: 42px;
}
.user-profile-dimension-card{
  width: 100%;
  min-height: 520px;
  max-height: 520px;
  border-radius: 40px;
  border: 1px solid #D3D3D3
}
.user-profile-img {
  width: 161px;
  height: 161px;
}
.user-name {
  font-size: 26px;
  font-weight: 600;
}
.user-card-headings {
  font-size: 18px;
  font-weight: 600;
}
.user-card-para {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}
.user-heading-border {
  border-bottom: 1px dashed #C1C1C1;
}
.edit-role {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline !important;
}
.user-profile-dimension-card h3{
  font-size: 20px;
  font-weight: 500;
}

.otpInput {
  padding: 10px;
  margin: 5px 3px 20px;
  width: 55px !important;
  border-radius: 8px;
  border: 1px solid gray;
  height: 55px;
  text-align: center;
}

.OTPInputContainer {
  justify-content: center;
  gap: 3px;
}

.warning-upload-csv{
  font-size: 12px;
  color:#c1a254
}

.role-field{
  width: 100%;
  height: 42px;
  border:1px solid rgb(171, 168, 168)
}
.no-data {
  background: #ffe0e0;
  padding: 10px 20px;
  color: #f00;
  border-left: 4px solid #f00;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.no-data img {
  width: 40px;
}


@media only screen and (max-width: 1440px) {
  .auth-img {
    max-width: 300px;
  }
  .box-blur {
    max-width: 320px;
    height: 311px;
  }
  .sidebar {
    width: 300px;
  }
  .nav-header {
    width: calc(100% - 300px);
  }
  .main-wrapper {
    width: calc(100% - 300px);
  }
}


/*tree-vew*/
.hidden {
    display: none;
  }
  
  .gtree_root {
    height: 100%;
  }
  .gtree_root,
  ul.gtree_root,
  ul.gtree_root ul {
    list-style: none;
    padding-inline-start: 0px;
  }
  
  .dropTarget {
    background-color: lightgrey;
  }
  
  .placeholder {
    background-color: #1967d2;
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
  }

  .property-edit-delete{
    background: #dad5d5;
    padding: 9px 13px;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
  }


   



/* 24/01/2024 */

.dimensionTable {
    border-radius: 26px;
    border: 1px solid #DADADA;
    background: #FFF;
    padding: 32px 40px;
}

.dimensionTable table thead tr {
    background: #5864ff;
    border-radius: 26px;
}

.dimensionTable table thead tr th {
    background: transparent;
    color: #fff;
}

.dimensionTable table tbody tr td {
    border: none;
    background: #f7f7f7;
}

.dimensionTable table tbody tr {
    background: #fff;
}

.dimensionTable table tbody tr td:first-child, .dimensionTable table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
    border: none;
}

.dimensionTable table tbody tr td:last-child, .dimensionTable table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.dimensionTable table {
    border-spacing: 0px 10px;
    border-collapse: separate;
}

/* Single Dimension */

.dimensionSingle {
    width: calc(100% - 300px);
    margin-left: auto;
    margin-top: 86px;
    transition: 0.4s ease-in-out;
}

.dimensionSingle.sideactive {
  width: calc(100% - 100px);
  margin-left: 100px;
}

.dimensionSingle .heading {
    padding: 20px;
    background: #f1f2ff;
}

.dimensionSingle .heading h2 {
    color: #5864ff;
    font-weight: bold;
    text-transform: capitalize;
}

.propertyListing form {
    padding: 20px;
    border: 1px solid #E3E3E3;
    border-radius: 24px;
}

.propertyListing form input, .propertyListing form select {
    width: 100%;
    padding: 10px;
    min-height: 48px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: #f7f7f7;
    border-radius: 13px;
}

.propertyListing form label {
    line-height: normal;
}

.uploadFileCSV {
    position: relative;
    border: 1px Dashed #5864FF;
    border-radius: 17px;
    margin-top: 20px;
}

.uploadFileCSV input.form-control {
    width: 100%;
    padding: 20px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    min-height: 70px;
    right: 0;
}

.uploadFileCSV b {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    min-height: 70px;
    color: #5864FF;
    font-size: 25px;
}

.dimensionSingle .row {
    margin: 0;
}

/* Delete Modal */

.modal-dialog.deleteModal {
    width: 100%;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: #0000005c;
    z-index: 9999;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteModal .modal-content {
    max-width: 700px;
    background: #fff;
    border-radius: 48px;
    padding: 40px 80px;
}

.deleteModal {
    align-items: center;
    justify-content: center;
}

.deleteModal .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    max-width: 700px;
}

.deleteModal .modal-dialog .modal-header {
    border: none;
    text-align: center;
    padding-bottom: 0;
}

.deleteModal .modal-dialog .modal-header .modal-title {
    width: 100%;
    text-align: center;
    color: #F00000;
    font-size: 33px;
    font-weight: 700;
}

.deleteModal .modal-dialog .modal-header button.btn-close {
    position: absolute;
    right: 40px;
    top: 40px;
    border: 1px solid #EA0000;
    border-radius: 50px;
    color: #EA0000;
}

.deleteModal .modal-dialog  .modal-body {
    font-size: 25px;
    text-align: center;
}

.deleteModal .modal-dialog .modal-footer {
    justify-content: center;
    border: none;
}

.deleteModal .modal-dialog .modal-footer button.btn.btn-secondary {
    background: #F3F3F3;
    color: #000;
    border: none;
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 13px;
    border: 1px solid #F3F3F3;
    transition: 0.4s ease;
    box-shadow: 0px 0px 8.7px 0px rgba(0, 0, 0, 0.377);
}

.deleteModal .modal-dialog .modal-footer button.btn.btn-secondary:hover {
    border: 1px solid #000;
}

.deleteModal .modal-dialog .modal-footer button.btn.btn-primary {
    background: #F00000;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 13px;
    transition: 0.4s ease-in-out;
    border: 1px solid #F00000;
    box-shadow: 0px 0px 8.7px 0px rgba(255, 0, 0, 0.377);
}

.deleteModal .modal-dialog .modal-footer button.btn.btn-primary:hover {
    background: #fff;
    color: #F00000;
}

.modal-dialog.addProperty {
    width: 100%;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: #0000005c;
    z-index: 9999;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.property_added-toggle{
  cursor: pointer;
}

.property_added-toggle:hover{
  cursor: pointer;
  color:#1967d2
}

.addProperty .modal-content {
    max-width: 700px;
    background: #fff;
    border-radius: 48px;
    padding: 40px;
    min-width: 700px;
}

.addProperty {
    align-items: center;
    justify-content: center;
}

.addProperty .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    max-width: 700px;
}

.addProperty .modal-dialog .modal-header {
    border: none;
    text-align: center;
    padding-bottom: 0;
    position: relative;
}

.addProperty .modal-dialog .modal-header .modal-title {
    width: 100%;
    text-align: center;
    color: #5864FF;
    font-size: 33px;
    font-weight: 700;
}

.addProperty .modal-dialog .modal-header button.btn-close {
    position: absolute;
    right: 0px;
    border: 1px solid #EA0000;
    border-radius: 50px;
    color: #EA0000;
}

.addProperty .modal-dialog .modal-footer {
    justify-content: center;
    border: none;
    padding: 0;
}

.addProperty .modal-dialog .modal-footer button.btn.btn-primary {
    background: #5864FF;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 13px;
    border: 1px solid #5864ff;
    box-shadow: 0px 0px 8.7px 0px rgba(88, 100, 255, 0.53);
    transition: 0.4s ease;
}

.addProperty .modal-dialog .modal-footer button.btn.btn-primary:hover {
    color: #5864ff;
    background-color: transparent;
}

button.PropertyBtn {
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 13px;
    background: #5864ff;
    border: 1px solid #5864ff;
    box-shadow: 0px 0px 8.7px 0px rgba(88, 100, 255, 0.53);
    transition: 0.4s ease;
}

button.PropertyBtn:hover {
    color: #5864ff;
    background-color: transparent;
}

.dimensionTable.userDimension {
    border: none;
    background: transparent;
}

.dimensionTable.userDimension  table thead tr th {
    box-shadow: none;
    border-style: hidden;
}

.dimensionTable.userDimension td {
    box-shadow: none;
}

.SettingTabs {
    padding: 30px;
}

.SettingTabs li.react-tabs__tab {
    display: inline-block;
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 10px;
    color: #5864FF;
    background: #fff;
}

.SettingTabs ul.react-tabs__tab-list {
    margin: 0;
    padding: 0;
}

.SettingTabs li.react-tabs__tab.react-tabs__tab--selected {
    background: #5864FF;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
}

.userInfo {
    padding: 30px;
    border-radius: 30px;
    border: 1px solid #E0E0E0;
    margin-top: 100px;
    position: relative;
}

.userInfo .userImg {
    text-align: center;
    margin-top: -110px;
}

.userInfo .userImg .imgwrap {
    position: relative;
    max-width: 150px;
    display: inline-block;
}

.userInfo .userImg a {
    background: #5864FF;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid #fff;
}

.userInfo .userImg a svg {
    width: 20px;
    height: 20px;
}

.userInfo button.btn.btn-primary {
    font-size: 20px;
    font-weight: 500;
    padding: 12px 30px;
    margin-top: 10px;
    box-shadow: 0px 0px 8.7px 0px rgba(88, 100, 255, 0.53);
    transition: 0.4s ease;
    background: #5864FF;
    border: 1px solid #5864ff;
    border-radius: 13px;
}

.userInfo button.btn.btn-primary:hover {
    color: #5864FF;
    background: #fff;
}

.userInfo label.form-label {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userInfo button.btn.btn-danger {
    font-size: 20px;
    font-weight: 500;
    padding: 12px 30px;
    margin-top: 10px;
    box-shadow: 0px 0px 8.7px 0px #dc354570;
    transition: 0.4s ease;
    background: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 13px;
}


.userInfo button.btn.btn-danger:hover {
    color: #dc3545;
    background: #fff;
}

.deleteBtn {
    width: 80%;
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 13px;
    border: 1px solid #FF5858;
    background: #FFDBDB;
    color: #FF5858;
    font-size: 20px;
    transition: 0.4s ease-in-out;
    margin: 20px auto 0;
}

.deleteBtn:hover {
    background: #FF5858;
    color: #ffffff;
}

.EditRole .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    max-width: 700px;
    border-radius: 40px;
    overflow: hidden;
    min-width: 600px;
}

.EditRole .modal-dialog .modal-header {
    background: #5864FF;
    box-shadow: 0px 0px 23.5px 0px rgba(0, 0, 0, 0.10);
}

.EditRole .modal-dialog .modal-header button.btn-close {
    display: none;
}

.EditRole .modal-dialog .modal-header .modal-title.h4 {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0;
}

.EditRole label {
    width: 100%;
    color: #000;
    font-size: 20px;
    line-height: normal;
}

.EditRole select {width: 100%;border-radius: 12px;background: #F7F7F7;padding: 11px;border: none;font-size: 20px;}

.EditRole .edit-permission{
  width: 100%;
  border-radius: 12px;
  background: #F7F7F7;
  padding: 11px;
  border: none;
  font-size: 20px; 
}
.EditRole button.btn.btn-primary {
    padding: 10px 40px;
    border-radius: 13px;
    font-size: 20px;
}
.sidebar.sideactive
{
    width: 100px;
    background-color: #5864FF;
}
.sidebar.sideactive li
{
  padding: 0px 10px;
  text-align: center;
}
.sidebar.sideactive .sidebar-link
{
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  border-left: 3px solid transparent;
}
.sidebar-logo-small
{
  display: none;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}
.sidebar.sideactive .sidebar-logo
{
  display: none;
}
.sidebar.sideactive .sidebar-logo-small
{
  display: block;
}
.sidebar.sideactive .sidebar-link span
{
  display: none;
}
.sidebar.sideactive .sidebar-link svg path
{
  fill: #fff;
}
.sidebar.sideactive .sidebar-link.active,
.sidebar.sideactive .sidebar-link:hover
{
  background-color: rgba(255, 255, 255, .5);
  border-left: 3px solid #fff;
  border-radius: 0px;
}
.sidebar.sideactive + .main-wrapper, .sidebar.sideactive + .dimensionSingle
{
  width: calc(100% - 100px);
}
.nav-header.navactive
{
  width: calc(100% - 100px);
}
.pagination-section{
  display: flex;
}
.pagination-section li{
  width: 50px;
}

@media only screen and (max-width: 1440px)
{
    .auth-img
    {
        max-width: 300px;
    }
    .box-blur
    {
        max-width: 320px;
        height: 311px;
    }
    .sidebar
    {
        width: 300px;
    }
    .nav-header
    {
        width: calc(100% - 300px);
    }
    .main-wrapper
    {
        width: calc(100% - 300px);
    }
    .sidebar-link 
    {
      padding: 10px 27px;
      font-size: 18px;
      gap: 19px;
      margin-bottom: 10px;
    }
    .logout-btn
    {
      padding: 13px 18px;
      font-size: 17px;
      gap: 19px;
    }

}

ul.gtree_root span.title {
  text-transform: capitalize;
  margin-left: 5px;
}

.secondBar {
  height: 100%;
  padding: 20px;
  border-right: 1px solid #e4e4e4;
  min-height: calc(100vh - 87px);
}

.secondBar h2 {
  color: #000;
  font-family: "Josefin Sans";
  font-size: 26px;
}

.secondBar span {
  display: block;
  color: #676767;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
}

.secondBar .btnList {
  display: flex;
  flex-direction: column;
}

.secondBar .btnList button {
  border-radius: 6px;
  border: 1px solid #5864FF;
  background: transparent;
  color: #5864FF;
  font-family: "Josefin Sans";
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 2px 0;
  transition: 0.4s ease-in-out;
}

.secondBar .btnList button:hover {
  color: #fff;
  background: #5864FF;
}


.secondBar .btnList button svg * {
  transition: 0.4s ease-in-out;
}

.secondBar .btnList button:hover svg * {
  fill: #fff;
}

.noPropertyaddition span {
  color: #5864ff;
  cursor: pointer;
}

ul.gtree_root .container.w-25 {
  width: 100% !important;
  padding: 0;
}

ul.gtree_root li {
    position: relative;
    display: block;
}

ul.gtree_root li svg.icon.folder {
    margin-right:10px;
    color: #777 !important;
}

ul.gtree_root li span.title {
    margin: 0;
}

ul.gtree_root li .sc-beySPh.jmIceJ {
    padding: 0 !important;
}

ul.gtree_root li ul {
    padding: 0;
    margin: 0;
}

ul.gtree_root li span.title:before {
    /* content: ''; */
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
}

ul.gtree_root li ul li:before {
    content: '';
    width: 27px;
    height: 20px;
    position: absolute;
    left: -1px;
    background: transparent;
    top: -7px;
    border-radius: 0px 0px 0px 17px;
    border: 1px solid #ddd;
    border-width: 0px 0px 2px 2px;
}

ul.gtree_root li ul li {
    border-left: 2px solid #ddd;
    padding-left: 40px;
}

ul.gtree_root li ul li:last-child {
  border-color: transparent;
}


span.edit.text-black.me-2 {
  cursor: pointer;
}

span.delete.text-danger {
  cursor: pointer;
}

ul.gtree_root {
  max-width: 320px;
  overflow: auto;
}

ul.gtree_root::-webkit-scrollbar {
  height: 6px;
  border-radius: 10px;
}
 
ul.gtree_root::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
 
ul.gtree_root::-webkit-scrollbar-thumb {
  background-color:#5864ff;
  border-radius: 10px;
}

.propertyDetails {
  padding: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 24px;
  margin-top: 20px;
}

.propertyDetails .property-edit-delete {
  width: 100%;
  padding: 10px;
  min-height: 48px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #f7f7f7;
  border-radius: 13px;
}

.propertyDetails .property-edit-delete span {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: #666;
}

.propertyDetails .property-edit-delete span:hover {
  color: #000;
}

h2.property_added-toggle {
  text-transform: capitalize;
}

h2.property_added-toggle span {
  margin-top: 5px;
}

.sidebar a.sidebar-link {
  gap: 10px;
  padding: 10px 20px;
}

.logout-btn {
  gap: 10px;
  padding: 10px;
}

.sidebar a.sidebar-link span, .logout-btn span {
  font-size: 20px;
  font-weight: normal;
}

.sidebar a.sidebar-link svg {
  max-width: 20px;
}

.dashboardCardTitle {
  font-size: 24px;
}

.user-table-content table th, .user-table-content table td {
  font-size: 18px;
  text-align: left;
  padding: 14px !important;
}

.user-table-content table tr img.action-image {
  width: auto;
  height: auto;
}

.user-details-username h3 {
  text-transform: capitalize;
}

.EditRole .edit-permission .css-13cymwt-control {
  background: transparent;
  border: none;
}

.pagination-icon {
  font-size: 18px;
  margin: 0;
  width: 14px;
  height: 18px;
}

.user-table-content table tr td:last-child {
  border: none;
}

